ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(146, 205, 207);
  border-radius: 15px;
}

li {
  font-size: 34px;
  float: left;
}

li a {
  /* font-size: 34px; */
  display: block;
  color: rgb(8, 8, 8);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(202, 198, 198);
}
